In [1]:
###Deah_Valley temperature data Table

In [2]:
# The code was removed by Watson Studio for sharing.

       STATION                 NAME        DATE  PRCP  TMAX  TMIN  TOBS
0  USC00042319  DEATH VALLEY, CA US  2018-01-01   0.0  65.0  34.0  42.0
1  USC00042319  DEATH VALLEY, CA US  2018-01-02   0.0  61.0  38.0  46.0
2  USC00042319  DEATH VALLEY, CA US  2018-01-03   0.0  69.0  34.0  54.0
3  USC00042319  DEATH VALLEY, CA US  2018-01-04   0.0  69.0  39.0  48.0
4  USC00042319  DEATH VALLEY, CA US  2018-01-05   0.0  74.0  40.0  57.0